<!--
File Name: footer.ejs
Author Name: Anthony Barszcz
Website Name: anthony-barszcz.heroku.com
File Description: Parital to create the footer on each page.
--> 
    <!-- Create a footer that sticks to the bottom of the page. -->
    <footer class="navbar-inverse navbar-fixed-bottom">
        <p class="text-center text-info">&copy; 2016 Anthony Barszcz | 
        Email Me: <a href="mailto:anthony.barszcz@mygeorgian.ca">Anthony.Barszcz@MyGeorgian.ca</a> | 
        <a href="https://github.com/ABarszcz">GitHub</a> | 
        <a href="https://ca.linkedin.com/in/anthony-barszcz-a05b96119">LinkedIn</a> | 
        <a href="https://github.com/ABarszcz/portfolio">Source</a></p>
    </footer>
<!-- Close everything out -->
</main>
</body>
</html>