<!--
File Name: header.ejs
Author Name: Anthony Barszcz
Website Name: anthony-barszcz.heroku.com
File Description: Partial to create the header on each page.
-->
<!DOCTYPE html>
<html>
    <head>
        <!-- Title and CSS links -->
        <title><%= title%></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <!-- Navigation -->
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/knowledge">Knowledge</a>
            <a href="/skills">Skills</a>
        </nav>

        <!-- Open the Main -->
        <main class="container">