<!--
File Name: header.ejs
Author Name: Anthony Barszcz
Website Name: anthony-barszcz.heroku.com
File Description: Partial to create the header on each page.
-->
<!DOCTYPE html>
<html>
    <head>
        <!-- Title and Bootstrap links -->
        <title><%= title%></title>
        <!-- Bootstrap: https://getbootstrap.com/getting-started/ -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />  
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-static-top">
            <a href="/" class="navbar-brand">Home</a>
            <a href="/about" class="navbar-brand">About</a>
            <a href="/knowledge" class="navbar-brand">Knowledge</a>
            <a href="/skills" class="navbar-brand">Skills</a>
        </nav>

        <!-- Open the Main -->
        <main class="container">