<!--
File Name: about.ejs
Author Name: Anthony Barszcz
Website Name: anthony-barszcz.heroku.com
File Description: The about page - contains generic information about me and the website.
-->

<% include partials/header.ejs %>

<div class="jumbotron">
    <h2>About Me</h2>
    <p>Currently enrolled at Georgian College (Barrie Campus) for Computer Programming, I am an innovative and creative software developer, interested in providing useful and reliable business solutions through software.</p>
    <p>While passionate about software development and programming, I am also a gamer with a particular interest in below-the-hood game mechanics. I spend almost as much time reading as I do playing.</p>
    <p>Please feel free to view my <a href="https://github.com/ABarszcz">GitHub</a> for samples of my work!</p>
</div>

<% include partials/footer.ejs %>