<!--
File Name: index.ejs
Author Name: Anthony Barszcz
Website Name: anthony-barszcz.heroku.com
File Description: The default / home page. Contains a simple introduction.
-->

<% include partials/header.ejs %>

<div class="jumbotron">
    <h2>Home</h2>
    <p>Welcome! My name is Anthony Barszcz. This website serves as a sample of my work, and contains information about me and what I do. Take a look!</p>
    <h3>This website is built using:</h3>
    <ul>
        <li>HTML5</li>
        <li>Node.js</li>
        <li>Twitter Bootstrap CSS</li>
    </ul>
</div>

<% include partials/footer.ejs %>
