<!--
File Name: knowledge.ejs
Author Name: Anthony Barszcz
Website Name: anthony-barszcz.heroku.com
File Description: The knowledge page that contains information about what I've learned and what I know.
-->
<% include partials/header.ejs %>

<div class="jumbotron">
    <h2>My Knowledge</h2>
    <p>I am an educated and experienced computer programmer capable of using Agile and Waterfall development methodologies. I have, through either school or work, created software such as:</p>
    <ul>
        <li>Desktop Applications</li>
        <li>Cross-Platform Mobile Applications</li>
        <li>Static and Dynamic Web Pages/Applications</li>
        <li>SQL and No-SQL Databases</li>
        <li>JSON and XML REST APIs</li>
    </ul>
    
    <p>For development purposes, I have experience using:</p>
    <ul>
        <li>Java</li>
        <li>C#.NET</li>
        <li>Xamarin.Forms</li>
        <li>HTML5</li>
        <li>PHP</li>
        <li>Node.js</li>
        <li>MySQL</li>
        <li>SQL Server</li>
        <li>MongoDB</li>
    </ul>
</div>

<% include partials/footer.ejs %>