<!--
File Name: skills.ejs
Author Name: Anthony Barszcz
Website Name: anthony-barszcz.heroku.com
File Description: The skills page that contains information about my skills and strengths.
-->
<% include partials/header.ejs %>

<div>
    <h2>My Skills</h2>
    <p>Simply knowing a programming language and how to use it isn't good enough to create effective, scalable software solutions. To compliment my knowledge, I have a unique skillset that I can bring to any position:</p>

    <ul>
        <li>Innovative, quick learner, independent worker, and team player. I can contribute something to any environment, quickly getting up to speed and almost immediately contributing something unique in either a solo or team-based setting.</li>
        <li>Responsible, reliable, punctual, and organized. My time management skills allow me to meet any reasonable deadline, guarenteed.</li>
        <li>Passionate, dedicated, and focused. I am excited about my work and keep it as my highest priority.</li>
        <li>Reasonable, professional, and sociable. I pride myself in being friendly and approachable in both a professional and casual environment.</li>
    </ul>
</div>

<% include partials/footer.ejs %>